<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
 타이틀 관리 Mapper
 -->
<mapper namespace="kr.ac.jj.shared.application.admin.sysmanage.titlemanage.mapper.TitleManageMapper">

    <!-- 목록 조회 -->
    <select id="selectList" resultType="kr.ac.jj.shared.infrastructure.framework.core.support.collection.CamelKeyMap">
        <![CDATA[
            SELECT A.TITLE_CODE
                 , FN_TITLE(A.TITLE_CODE, #{$var.userLocale}, #{$var.defaultLocale}, NULL) AS TITLE_CN
        ]]>

        <if test='titleLocales != null and titleLocales.length > 0'>
            <foreach collection="titleLocales" item="titleLocale" index="idx">
                <![CDATA[
                 , T${idx}.TITLE_CN TITLE_${titleLocale.toUpperCase()}
                ]]>
            </foreach>
        </if>

        <![CDATA[
            FROM   (SELECT DISTINCT TITLE_CODE FROM TB_SYS_TITLE) A
        ]]>

        <if test='titleLocales != null and titleLocales.length > 0'>
            <foreach collection="titleLocales" item="titleLocale" index="idx">
                <![CDATA[
                    LEFT OUTER JOIN (SELECT TITLE_CODE, TITLE_CN FROM TB_SYS_TITLE WHERE TITLE_LOCALE = #{titleLocale}) T${idx} ON T${idx}.TITLE_CODE = A.TITLE_CODE
                ]]>
            </foreach>
        </if>

        <![CDATA[
            WHERE   1 = 1
        ]]>

        <if test='search != null and search.searchText != null and search.searchText != ""'>
            <![CDATA[
            AND    (UPPER(A.TITLE_CODE) LIKE CONCAT_WS('', '%', UPPER(#{search.searchText}), '%')
            ]]>

            <choose>
            <when test='titleLocales != null and titleLocales.length > 0'>
                <foreach collection="titleLocales" item="titleLocale" index="idx">
                <![CDATA[
                    OR UPPER(T${idx}.TITLE_CN) LIKE CONCAT_WS('', '%', UPPER(#{search.searchText}), '%')
                ]]>
                </foreach>
            </when>
            <otherwise>
                <![CDATA[
                    OR UPPER(FN_TITLE(A.TITLE_CODE, #{$var.userLocale}, #{$var.defaultLocale}, NULL)) LIKE CONCAT_WS('', '%', UPPER(#{search.searchText}), '%')
                ]]>
            </otherwise>
            </choose>

            <![CDATA[
                   )
            ]]>
        </if>
    </select>

</mapper>
