<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
 교양교과 핵심역량 Mapper
 -->
<mapper namespace="kr.ac.jj.dashboard.application.supercompetence.mapper.SuperCompetenceMapper">

    <!-- 대학 전체 평균 조회 -->
    <select id="readTotalAvgData" resultType="kr.ac.jj.shared.infrastructure.framework.core.support.collection.CamelKeyMap">
        <![CDATA[
            SELECT ROUND(AVG(S_POINT),2) AS S_POINT
                   , ROUND(AVG(U_POINT),2) AS U_POINT
                   , ROUND(AVG(P_POINT),2) AS P_POINT
                   , ROUND(AVG(E_POINT),2) AS E_POINT
                   , ROUND(AVG(R_POINT),2) AS R_POINT
            FROM   DM_ON_SUPER_N
        ]]>
    </select>

    <!-- 특정 대학 전체 평균 조회 -->
    <select id="readTotalAvgDaehakData" resultType="kr.ac.jj.shared.infrastructure.framework.core.support.collection.CamelKeyMap">
        <![CDATA[
            SELECT ROUND(AVG(S_POINT),2) AS S_POINT
                   , ROUND(AVG(U_POINT),2) AS U_POINT
                   , ROUND(AVG(P_POINT),2) AS P_POINT
                   , ROUND(AVG(E_POINT),2) AS E_POINT
                   , ROUND(AVG(R_POINT),2) AS R_POINT
            FROM   DM_ON_SUPER_N
            WHERE 1=1
        ]]>
        <if test='search.daehakName != null and search.daehakName != ""'>
            <![CDATA[
                AND DAEHAK_NAME = #{search.daehakName}
            ]]>
        </if>

    </select>

    <!-- 대학별 평균 조회 -->
    <select id="readAvgDaehakData" resultType="kr.ac.jj.shared.infrastructure.framework.core.support.collection.CamelKeyMap">
        <![CDATA[
            SELECT DAEHAK_NAME
                   , ROUND(AVG(S_POINT),2) AS S_POINT
                   , ROUND(AVG(U_POINT),2) AS U_POINT
                   , ROUND(AVG(P_POINT),2) AS P_POINT
                   , ROUND(AVG(E_POINT),2) AS E_POINT
                   , ROUND(AVG(R_POINT),2) AS R_POINT
            FROM   DM_ON_SUPER_N
            WHERE DAEHAK_NAME IS NOT NULL
            GROUP BY DAEHAK_NAME
        ]]>
    </select>

    <!-- 대학내 학년 별 평균 조회 -->
    <select id="readDaehakYearData" resultType="kr.ac.jj.shared.infrastructure.framework.core.support.collection.CamelKeyMap">
        <![CDATA[
            SELECT CONCAT(HAKG_YEAR,'학년') HAKG_YEAR
                   , ROUND(AVG(S_POINT),2) AS S_POINT
                   , ROUND(AVG(U_POINT),2) AS U_POINT
                   , ROUND(AVG(P_POINT),2) AS P_POINT
                   , ROUND(AVG(E_POINT),2) AS E_POINT
                   , ROUND(AVG(R_POINT),2) AS R_POINT
            FROM   DM_ON_SUPER_N
            WHERE DAEHAK_NAME = #{search.daehakName}
        ]]>
        <if test='search.hakgYear != null and search.hakgYear != ""'>
            <![CDATA[
                AND HAKG_YEAR = #{search.hakgYear}
            ]]>
        </if>
        <if test='search.hakbuName != null and search.hakbuName != ""'>
            <![CDATA[
                AND HAKBU_NAME = #{search.hakbuName}
            ]]>
        </if>
        <![CDATA[
            GROUP BY HAKG_YEAR
            ORDER BY HAKG_YEAR
        ]]>
    </select>

    <!-- 학부 내 학년 별 평균 조회 -->
    <select id="readHakbuData" resultType="kr.ac.jj.shared.infrastructure.framework.core.support.collection.CamelKeyMap">
        <![CDATA[
            SELECT DAEHAK_NAME, HAKBU_NAME, CONCAT(HAKG_YEAR,'학년') HAKG_YEAR
            , ROUND(P_POINT,2) AS P_POINT
            , ROUND(S_POINT,2) AS S_POINT
            , ROUND(U_POINT,2) AS U_POINT
            , ROUND(E_POINT,2) AS E_POINT
            , ROUND(R_POINT,2) AS R_POINT
            , ROUND(TOTAL_POINT,2) AS TOTAL_POINT
            FROM   DM_ON_SUPER_N
            WHERE  DAEHAK_NAME = #{search.daehakName}
        ]]>
        <if test='search.hakbuName != null and search.hakbuName != ""'>
            <![CDATA[
                AND HAKBU_NAME = #{search.hakbuName}
            ]]>
        </if>
        <if test='search.hakgYear != null and search.hakgYear != ""'>
            <![CDATA[
                AND HAKG_YEAR = #{search.hakgYear}
            ]]>
        </if>
        GROUP BY HAKG_YEAR
        ORDER BY HAKG_YEAR
    </select>
</mapper>
