<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
  Mapper
 -->
<mapper namespace="kr.ac.jj.survey.domain.main.mapper.jd.survey.question.JdSurveyQuestionMapper">

    <!-- 목록 삭제 - SURVEY_DEFINITION_ID로 -->
    <delete id="deleteListBySurveyDefinitionId">
        <![CDATA[
            DELETE
            FROM   SURVEY_QUESTION
            WHERE  SURVEY_DEFINITION_PAGE_ID IN (
                        SELECT SDP.ID
                        FROM   SURVEY_DEFINITION_PAGE SDP
                        WHERE  SDP.SURVEY_DEFINITION_ID = #{surveyDefinitionId}
                   )
        ]]>
    </delete>

</mapper>
