<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
 템플릿 관리 Mapper
 -->
<mapper namespace="kr.ac.jj.survey.application.templatemanage.mapper.TemplateManageMapper">

    <!-- 목록 조회 -->
    <select id="selectList" resultType="kr.ac.jj.shared.infrastructure.framework.core.support.collection.CamelKeyMap">
        <![CDATA[
            SELECT TST.SURVEY_TMPLAT_ID
                 , SD.NAME
                 , TSR.SURVEY_REALM_NM
                 , TST.TMPLAT_STTUS
                 , FN_CODE_NAME('TMPLAT_STTUS', TST.TMPLAT_STTUS, #{$var.userLocale}, #{$var.defaultLocale}, NULL) AS TMPLAT_STTUS_NM
            FROM   TB_SURVEY_TMPLAT TST
                   INNER JOIN TB_SURVEY_REALM TSR ON TST.SURVEY_REALM_ID = TSR.SURVEY_REALM_ID
                   INNER JOIN SURVEY_DEFINITION SD ON SD.ID = TST.SURVEY_DEFINITION_ID
            WHERE  1 = 1
        ]]>

        <!-- 템플릿 이름 -->
        <if test='search != null and search.name != null and search.name != ""'>
            <![CDATA[
            AND    UPPER(SD.NAME) LIKE CONCAT_WS('', '%', UPPER(#{search.name}), '%')
            ]]>
        </if>

        <!-- 설문 분야 -->
        <if test='search != null and search.surveyRealmId != null and search.surveyRealmId != ""'>
            <![CDATA[
            AND    TST.SURVEY_REALM_ID = #{search.surveyRealmId}
            ]]>
        </if>
    </select>

</mapper>
