@charset "utf-8";


/* form Action error시 입력 필드 에러 문구 출력 용 */
.bind_error { display:inline-block; font-size:0.9em; color:red; padding-left:5px; }
/* form Action error시 입력 필드 에러 문구 출력 용 끝 */

html { margin: 0; padding: 0; height:100%; }
body { height:100%; margin: 0; padding: 0; color: #707070; font-size: 75%; line-height: 1.5; font-family: "돋움", dotum, Gulim, Tahoma, Verdana, AppleGothic, UnDotum, sans-serif; }
a { color: #606060; text-decoration: none; }
a:hover { color: #196dc6; text-decoration: underline; }
:focus { outline-width: 2px !important; outline-style: solid 1px !important; -moz-outline-radius: 4px; }
img { border: none; }
select, 
input, 
textarea { color: #454545; font-family: dotum, arial, helvetica, clean, sans-serif; font-size: 1em; }

input, 
textarea { border: solid 1px #ccc; }
ul, 
ol, 
dl, 
li, 
dt, 
dd { margin: 0; padding: 0; list-style: none; }
h1 { clear: both; margin: 0; padding: 0; font-size: 1.5em; letter-spacing: -0.1em; }
h2, 
h3 { clear: both; margin: 0; padding: 0; font-size: 1.2em; letter-spacing: -0.1em; } 
h4, 
h5, 
h6 { margin: 0; padding: 0; font-size: 1em; } 
hr { display: none; }
button { margin: 0; padding: 0; background: none; border: 0; cursor: pointer; _cursor: hand; text-decoration: none; overflow: visible; font-family: "돋움", dotum, Gulim, Tahoma, Verdana, AppleGothic, UnDotum, sans-serif; white-space: nowrap; }
p { margin: 0; padding: 0; } 
address { clear: both; font-style: normal; }
form { margin: 0; padding: 0; } 
fieldset { margin: 0; padding: 0; border: none; } 
legend { width: 0; height: 0; font-size: 0; line-height: 0; overflow: hidden; visibility: hidden; }
input[type="radio"], 
input[type="checkbox"] { width: auto; border: 0; } 

.input_radio, 
.input_check, 
.input_btn { width: auto; border: none; }
/* Float STYLE*/
.clear { clear: both; }
.float_left { float: left; }
.float_right { float: right; }
.display_none { display: none; }
.display_block { display: block; }
.display_inlineblock { display: inline-block; }
.visibility { visibility: hidden; } 
.img_area { clear: both; padding-top: 8px; }

/* 폰트정렬 STYLE*/
.txt_center { text-align: center; }
.txt_left { text-align: left; }
.txt_right { text-align: right; }
.txt_justify { text-align: justify; }

/* 테이블 STYLE */ 
caption { width: 0; height: 0; font-size: 0; line-height: 0; overflow: hidden; visibility: hidden; } 
table { width: 100%; border-collapse: collapse; border: none; color: #636363; }
table th { white-space: nowrap; text-align: center; letter-spacing: -0.1em; font-family: "맑은 고딕", dotum, Gulim, Tahoma, Verdana, AppleGothic, UnDotum, sans-serif; }
table td { white-space: normal; }
.input_long { width: 95%; }
.input_long02 { width: 79%; } 
.input_long03 { width: 73%; }
.input_mid { width: 50%; }
 
.letter0 { letter-spacing: normal; }
 
/* point 컬러 */ 
.point01 { color: #F30; }
.point_color_red { color: #f25205; }
.point_color_block { color: #252525; }
.point_color_blue { color: #3f65a8; } 
.point_color_sky { color: #718cbc; }

/* 버튼 STYLE
-------------------------------------------------*/
.btn_area,
.btn_area02 { display: block; height: 32px; padding-top: 25px; vertical-align: top; } 
.btn_area02 { min-width: 600px; text-align: right; }
.btn_area span,
.btn_area02 span { display: inline-block; margin-left: 3px; }
.btn_area span img,
.btn_area02 span img{ vertical-align: top; }
.btn_area span button,
.btn_area02 span button{ display: inline-block; }
.btn_area span.float_left span,
.btn_area span.float_right span,
.btn_area02 span.float_left span,
.btn_area02 span.float_right span{ margin-left: 1px; }

 /* 흰색 btn */
.btnstyle1, 
.btnstyle1 * { display: inline-block; position: relative; height: 24px; background: url(/wcom/img/mng/common/bg_btn2.gif) no-repeat; background-position:100% 0; vertical-align: top; }
.btnstyle1 button,
.btnstyle1 a { right:4px; padding:0 18px 0 26px; background-position: 0 0; color:#5b6e8a; font-size: 1em; }
.btnstyle1 a { line-height: 2; }
.btnstyle1 *:hover,
.btnstyle1 *:active, 
.btnstyle1 *:focus { color: #5b6e8a; }

/* 하늘색 버튼 */
.btnstyle2, 
.btnstyle2 * { display:inline-block; position:relative; height:24px; background:url(/wcom/img/mng/common/bg_btn1.gif) no-repeat; background-position:100% 0; font-size: 12px; line-height: 24px; text-decoration: none; vertical-align: top; }
.btnstyle2 { margin-left: 4px; } 
.btnstyle2 button,
.btnstyle2 a { right:4px; padding:0 24px 0 28px; font-weight:bold; color:#fff; background-position:0 0; font-size: 12px; text-shadow: 1px 1px 0 #1c7ea9; }
.btnstyle2 a { line-height: 2; }
.btnstyle2 *:hover,
.btnstyle2 *:active,
.btnstyle2 *:focus { color: #fff; }

/* 흰색 버튼 height 21px */

.btnstyle3, 
.btnstyle3 * { display: inline-block; position: relative; height: 21px; background: url(/wcom/img/mng/common/bg_btn3.gif) no-repeat 0 0; background-position: 100% 0; font-size: 12px; line-height: 21px; text-decoration: none; vertical-align: top; }
.btnstyle3 { margin-left:4px; }
.btnstyle3 button,
.btnstyle3 a { right: 4px; padding: 0 12px 0 20px; color:#555555; background-position:0 0; font-size:12px; }
.btnstyle3 a { line-height: 2; }
.btnstyle3 *:hover, 
.btnstyle3 *:active,
.btnstyle3 *:focus { color: #555555; }

/* 진 파랑 버튼 */
.btnstyle4, 
.btnstyle4 * {display:inline-block; position:relative; margin:0; padding:0; border:0; font-size:12px; height:30px; line-height:30px; text-decoration:none; vertical-align:top; background:url(/wcom/img/mng/common/bg_btn4.gif) no-repeat; background-position:100% 0;}
.btnstyle4 button {right:4px; padding:0 30px 0 34px; font-weight:bold; color:#fff; background-position:0 0; font-size:12px; text-shadow:1px 1px 0 #1d3664;}
.btnstyle4 *:hover, 
.btnstyle4 *:active, 
.btnstyle4 *:focus {color:#fff;}

/* 지도 */
.btnmap,
.btnmap * {display: inline-block; height:21px; margin: 0 2px 0 0; padding:0; border:0; font-size:0; line-height:0; vertical-align:top; background:url(/wcom/img/mng/common/bg_btn5.gif) no-repeat; background-position:100% 0;}
.btnmap button {right:4px; padding:0 2px 0 6px; background-position:0 0; font-size:0;}
.btnmap button img {width:18px; height:21px; background-image:none;}

/* 삭제 */
.btndelete, 
.btndelete * {display:inline-block; position:relative; margin:0; padding:0; border:0; font-size:0; height:14px; line-height:0; vertical-align:top; white-space:nowrap;}
.btndelete {margin-left:2px; border:1px solid #cfcfcf;}
.btndelete button { font-size:0;}
.btndelete button img {width:14px; height:13px; background-image:none;}

/* 답글, 수정, 삭제 */
.btnreply, .btnreply * {display:inline-block; position:relative; margin:0; padding:0; border:0; height:18px; line-height:0; vertical-align:top; background:url(/wcom/img/mng/common/bg_btn9.gif) no-repeat; background-position:100% 0;}
.btnreply button, .btnreply a {right:4px; padding:0 2px 0 6px; background-position:0 0; }
.btnreply button img, .btnreply a img {width:34px; height:18px; background-image:none;}

.tab_btn { width: 100%; min-width: 600px; height: 28px; margin-bottom: 37px; border-bottom: solid 2px #243960; }
.tab_btn li { float: left; margin: 0 1px 0 0; background: #8fa5c4; }
.tab_btn span, 
.tab_btn span * {display:inline-block; position:relative; margin:0; padding:0; }
.tab_btn span button {padding: 6px 20px 7px; height:28px; color:#fff; font-size:12px; border: solid 1px #8199bb; border-bottom: none; text-shadow:1px 1px 0 #8199bb;}
.tab_btn .on span button {border: solid 1px #243960; border-bottom: none; text-shadow:1px 1px 0 #000;}
.tab_btn .on {background: #243960;}
