<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
  Entity Mapper
 -->
<mapper namespace="kr.ac.jj.survey.domain.main.mapper.jd.survey.question.columnlabel.JdSurveyQuestionColumnLabelEntityMapper">

    <!-- 목록 조회 - QUESTION_ID(으)로 -->
    <select id="selectListByQuestionId" resultType="kr.ac.jj.survey.domain.main.model.jd.survey.question.columnlabel.JdSurveyQuestionColumnLabel">
        <![CDATA[
            SELECT SQCL.ID
                 , SQCL.TYPE
                 , SQCL.LABEL
                 , SQCL.COLUMN_LABEL_ORDER
                 , SQCL.QUESTION_ID
                 , SQCL.VERSION
            FROM   SURVEY_QUESTION_COLUMN_LABEL SQCL
            WHERE  SQCL.QUESTION_ID = #{questionId}
            ORDER BY SQCL.COLUMN_LABEL_ORDER
        ]]>
    </select>

    <!-- 조회 -->
    <select id="select" resultType="kr.ac.jj.survey.domain.main.model.jd.survey.question.columnlabel.JdSurveyQuestionColumnLabel">
        <![CDATA[
            SELECT SQCL.ID
                 , SQCL.TYPE
                 , SQCL.LABEL
                 , SQCL.COLUMN_LABEL_ORDER
                 , SQCL.QUESTION_ID
                 , SQCL.VERSION
            FROM   SURVEY_QUESTION_COLUMN_LABEL SQCL
            WHERE  SQCL.ID = #{id}
        ]]>
    </select>

    <!-- 생성 -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="jdSurveyQuestionColumnLabel.id">
        <![CDATA[
            INSERT INTO SURVEY_QUESTION_COLUMN_LABEL (
                   ID
                 , TYPE
                 , LABEL
                 , COLUMN_LABEL_ORDER
                 , QUESTION_ID
                 , VERSION
            ) VALUES (
                   #{jdSurveyQuestionColumnLabel.id}
                 , #{jdSurveyQuestionColumnLabel.type}
                 , #{jdSurveyQuestionColumnLabel.label}
        ]]>

        <choose>
        <when test='jdSurveyQuestionColumnLabel.columnLabelOrder == null'>
            <![CDATA[
                 , (SELECT IFNULL(MAX(A.COLUMN_LABEL_ORDER), 0) + 1 FROM SURVEY_QUESTION_COLUMN_LABEL A WHERE A.QUESTION_ID = #{jdSurveyQuestionColumnLabel.questionId})
            ]]>
        </when>
        <otherwise>
            <![CDATA[
                 , #{jdSurveyQuestionColumnLabel.columnLabelOrder}
            ]]>
        </otherwise>
        </choose>

        <![CDATA[
                 , #{jdSurveyQuestionColumnLabel.questionId}
                 , #{jdSurveyQuestionColumnLabel.version}
            )
        ]]>
    </insert>

    <!-- 수정 -->
    <update id="update">
        <![CDATA[
            UPDATE SURVEY_QUESTION_COLUMN_LABEL SET
                   TYPE                             = #{jdSurveyQuestionColumnLabel.type}
                 , LABEL                            = #{jdSurveyQuestionColumnLabel.label}
        ]]>

        <choose>
        <when test='jdSurveyQuestionColumnLabel.columnLabelOrder == null'>
            <![CDATA[
                 , COLUMN_LABEL_ORDER               = (SELECT IFNULL(MAX(A.COLUMN_LABEL_ORDER), 0) + 1 FROM SURVEY_QUESTION_COLUMN_LABEL A WHERE A.QUESTION_ID = #{jdSurveyQuestionColumnLabel.questionId})
            ]]>
        </when>
        <otherwise>
            <![CDATA[
                 , COLUMN_LABEL_ORDER               = #{jdSurveyQuestionColumnLabel.columnLabelOrder}
            ]]>
        </otherwise>
        </choose>

        <![CDATA[
                 , QUESTION_ID                      = #{jdSurveyQuestionColumnLabel.questionId}
                 , VERSION                          = #{jdSurveyQuestionColumnLabel.version}
            WHERE  ID = #{jdSurveyQuestionColumnLabel.id}
        ]]>
    </update>

    <!-- 삭제 -->
    <delete id="delete">
        <![CDATA[
            DELETE
            FROM   SURVEY_QUESTION_COLUMN_LABEL
            WHERE  ID = #{id}
        ]]>
    </delete>

    <!-- 목록 삭제 - QUESTION_ID(으)로 -->
    <delete id="deleteListByQuestionId">
        <![CDATA[
            DELETE
            FROM   SURVEY_QUESTION_COLUMN_LABEL
            WHERE  QUESTION_ID = #{questionId}
        ]]>
    </delete>

</mapper>
