<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
 시스템 - 리소스 Entity Mapper
 -->
<mapper namespace="kr.ac.jj.shared.domain.main.mapper.sys.resrce.TbSysResrceEntityMapper">

    <!-- 조회 -->
    <select id="select" resultType="kr.ac.jj.shared.domain.main.model.sys.resrce.TbSysResrce">
        <![CDATA[
            SELECT TSR.RESRCE_ID
                 , TSR.RESRCE_TY
                 , TSR.RESRCE_PTTRN
                 , TSR.SORT_ORDR
                 , TSR.USE_YN
            FROM   TB_SYS_RESRCE TSR
            WHERE  TSR.RESRCE_ID = #{resrceId}
        ]]>
    </select>

    <!-- 생성 -->
    <insert id="insert">
        <![CDATA[
            INSERT INTO TB_SYS_RESRCE (
                   RESRCE_ID
                 , CREAT_USER_ID
                 , CREAT_DT
                 , RESRCE_TY
                 , RESRCE_PTTRN
                 , SORT_ORDR
                 , USE_YN
            ) VALUES (
                   #{tbSysResrce.resrceId}
                 , #{$var.loginUser.userId}
                 , #{$var.systemDate}
                 , #{tbSysResrce.resrceTy}
                 , #{tbSysResrce.resrcePttrn}
                 , #{tbSysResrce.sortOrdr}
                 , #{tbSysResrce.useYn}
            )
        ]]>
    </insert>

    <!-- 수정 -->
    <update id="update">
        <![CDATA[
            UPDATE TB_SYS_RESRCE SET
                   UPDT_USER_ID                     = #{$var.loginUser.userId}
                 , UPDT_DT                          = #{$var.systemDate}
                 , RESRCE_TY                        = #{tbSysResrce.resrceTy}
                 , RESRCE_PTTRN                     = #{tbSysResrce.resrcePttrn}
                 , SORT_ORDR                        = #{tbSysResrce.sortOrdr}
                 , USE_YN                           = #{tbSysResrce.useYn}
            WHERE  RESRCE_ID = #{tbSysResrce.resrceId}
        ]]>
    </update>

    <!-- 삭제 -->
    <delete id="delete">
        <![CDATA[
            DELETE
            FROM   TB_SYS_RESRCE
            WHERE  RESRCE_ID = #{resrceId}
        ]]>
    </delete>

</mapper>
