<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
 설문_설문지_공통문항 Entity Mapper
 -->
<mapper namespace="kr.ac.jj.survey.domain.main.mapper.survey.qestnr.cmmn.TbSurveyQestnrCmmnEntityMapper">

    <!-- 기본 조회 SQL -->
    <sql id="baseSelectSql">
        <![CDATA[
            SELECT TSQC.SURVEY_QESTNR_ID
                 , TSQC.SEXDSTN
                 , TSQC.AREA
                 , TSQC.GRADE
                 , TSQC.CGHMY
                 , TSQC.SUBJCT
                 , TSQC.STSFDG_01
                 , TSQC.STSFDG_02
                 , TSQC.STSFDG_03
            FROM   TB_SURVEY_QESTNR_CMMN TSQC
        ]]>
    </sql>

    <!-- 조회 -->
    <select id="select" resultType="kr.ac.jj.survey.domain.main.model.survey.qestnr.cmmn.TbSurveyQestnrCmmn">
        <include refid="baseSelectSql"></include>
        <![CDATA[
            WHERE  TSQC.SURVEY_QESTNR_ID = #{surveyQestnrId}
        ]]>
    </select>

    <!-- 생성 -->
    <insert id="insert">
        <![CDATA[
            INSERT INTO TB_SURVEY_QESTNR_CMMN (
                   SURVEY_QESTNR_ID
                 , CREAT_USER_ID
                 , CREAT_DT
                 , SEXDSTN
                 , AREA
                 , GRADE
                 , CGHMY
                 , SUBJCT
                 , STSFDG_01
                 , STSFDG_02
                 , STSFDG_03
            ) VALUES (
                   #{tbSurveyQestnrCmmn.surveyQestnrId}
                 , #{$var.loginUser.userId}
                 , #{$var.systemDate}
                 , #{tbSurveyQestnrCmmn.sexdstn}
                 , #{tbSurveyQestnrCmmn.area}
                 , #{tbSurveyQestnrCmmn.grade}
                 , #{tbSurveyQestnrCmmn.cghmy}
                 , #{tbSurveyQestnrCmmn.subjct}
                 , #{tbSurveyQestnrCmmn.stsfdg01}
                 , #{tbSurveyQestnrCmmn.stsfdg02}
                 , #{tbSurveyQestnrCmmn.stsfdg03}
            )
        ]]>
    </insert>

    <!-- 수정 -->
    <update id="update">
        <![CDATA[
            UPDATE TB_SURVEY_QESTNR_CMMN SET
                   UPDT_USER_ID                     = #{$var.loginUser.userId}
                 , UPDT_DT                          = #{$var.systemDate}
                 , SEXDSTN                          = #{tbSurveyQestnrCmmn.sexdstn}
                 , AREA                             = #{tbSurveyQestnrCmmn.area}
                 , GRADE                            = #{tbSurveyQestnrCmmn.grade}
                 , CGHMY                            = #{tbSurveyQestnrCmmn.cghmy}
                 , SUBJCT                           = #{tbSurveyQestnrCmmn.subjct}
                 , STSFDG_01                        = #{tbSurveyQestnrCmmn.stsfdg01}
                 , STSFDG_02                        = #{tbSurveyQestnrCmmn.stsfdg02}
                 , STSFDG_03                        = #{tbSurveyQestnrCmmn.stsfdg03}
            WHERE  SURVEY_QESTNR_ID = #{tbSurveyQestnrCmmn.surveyQestnrId}
        ]]>
    </update>

    <!-- 삭제 -->
    <delete id="delete">
        <![CDATA[
            DELETE
            FROM   TB_SURVEY_QESTNR_CMMN
            WHERE  SURVEY_QESTNR_ID = #{surveyQestnrId}
        ]]>
    </delete>

</mapper>
