<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
 설문_분야 Mapper
 -->
<mapper namespace="kr.ac.jj.survey.domain.main.mapper.survey.realm.TbSurveyRealmMapper">

    <!-- 사용된 갯수 조회 -->
    <select id="selectUsedCo" resultType="kr.ac.jj.survey.application.realmmanage.model.RealmUsedCountModel">
        <![CDATA[
            SELECT (SELECT COUNT(*)
                    FROM   TB_SURVEY_TMPLAT TST
                    WHERE  TST.SURVEY_REALM_ID = #{surveyRealmId}
                   ) AS TMPLAT_USED_CO
                 , (SELECT COUNT(*)
                    FROM   TB_SURVEY_QESTNR TSQ
                    WHERE  TSQ.SURVEY_REALM_ID = #{surveyRealmId}
                   ) AS QESTNR_USED_CO
        ]]>
    </select>

</mapper>
