<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
 시스템 - 타이틀 Entity Mapper
 -->
<mapper namespace="kr.ac.jj.survey.domain.main.mapper.sys.title.TbSysTitleEntityMapper">

    <!-- 목록 조회 - TITLE_CODE(으)로 -->
    <select id="selectListByTitleCode" resultType="kr.ac.jj.survey.domain.main.model.sys.title.TbSysTitle">
        <![CDATA[
            SELECT TST.TITLE_CODE
                 , TST.TITLE_LOCALE
                 , TST.TITLE_CN
            FROM   TB_SYS_TITLE TST
            WHERE  TST.TITLE_CODE = #{titleCode}
            ORDER BY CASE WHEN TST.TITLE_LOCALE = #{$var.defaultLocale} THEN 0 ELSE 1 END, TST.TITLE_LOCALE
        ]]>
    </select>

    <!-- 조회 -->
    <select id="select" resultType="kr.ac.jj.survey.domain.main.model.sys.title.TbSysTitle">
        <![CDATA[
            SELECT TST.TITLE_CODE
                 , TST.TITLE_LOCALE
                 , TST.TITLE_CN
            FROM   TB_SYS_TITLE TST
            WHERE  TST.TITLE_CODE = #{titleCode}
            AND    TST.TITLE_LOCALE = #{titleLocale}
        ]]>
    </select>

    <!-- 생성 -->
    <insert id="insert">
        <![CDATA[
            INSERT INTO TB_SYS_TITLE (
                   TITLE_CODE
                 , TITLE_LOCALE
                 , CREAT_USER_ID
                 , CREAT_DT
                 , TITLE_CN
            ) VALUES (
                   #{tbSysTitle.titleCode}
                 , #{tbSysTitle.titleLocale}
                 , #{$var.loginUser.userId}
                 , #{$var.systemDate}
                 , #{tbSysTitle.titleCn}
            )
        ]]>
    </insert>

    <!-- 수정 -->
    <update id="update">
        <![CDATA[
            UPDATE TB_SYS_TITLE SET
                   UPDT_USER_ID                     = #{$var.loginUser.userId}
                 , UPDT_DT                          = #{$var.systemDate}
                 , TITLE_CN                         = #{tbSysTitle.titleCn}
            WHERE  TITLE_CODE = #{tbSysTitle.titleCode}
            AND    TITLE_LOCALE = #{tbSysTitle.titleLocale}
        ]]>
    </update>

    <!-- 삭제 -->
    <delete id="delete">
        <![CDATA[
            DELETE
            FROM   TB_SYS_TITLE
            WHERE  TITLE_CODE = #{titleCode}
            AND    TITLE_LOCALE = #{titleLocale}
        ]]>
    </delete>

    <!-- 목록 삭제 - TITLE_CODE(으)로 -->
    <delete id="deleteListByTitleCode">
        <![CDATA[
            DELETE
            FROM   TB_SYS_TITLE
            WHERE  TITLE_CODE = #{titleCode}
        ]]>
    </delete>

</mapper>
