@charset "utf-8";
@import url("layout.css");





#mainevent{position:relative; float:right; width:200px; height:148px; z-index:100; zoom:1; overflow:hidden}
#mainevent #maineventList{position:relative; width:200px;  height:148px;}


/* container */

#container h2{display:block; position:relative; height:40px; border-bottom:1px solid #d4d5d6; background:url(../../../wcom/img/zeus2014/common/sp_maintitle.png) no-repeat; text-indent:-9999px;}
#container h3{display:block; position:relative; height:40px; line-height:40px; font-size:12px; background:url(../../../wcom/img/zeus2014/common/sp_maintitle.png) no-repeat; text-indent:-9999px;}
#container .loginbox h2{display:none;}


/* 플로우 */
.mainflow{display:block; position:relative; float:left; width:780px; height:148px; margin-right:10px; background:url(../../../wcom/img/zeus2014/main/bg_flow.jpg) no-repeat;}
.mainflow ol li a{float:left; position:absolute; top:75px; width:60px; letter-spacing:-1px; text-align:center; font-size:22px; font-family:nanumgothic; font-weight:bold; color:#00b7ce;}
.mainflow ol li.step1 a{left:120px;}
.mainflow ol li.step2 a{left:317px;}
.mainflow ol li.step3 a{left:513px;}
.mainflow ol li.step4 a{left:707px;}

/* 이벤트존 */
.eventzone{display:block; position:relative; float:left; width:780px; height:120px; margin:0px 10px 10px 0px; background:#fbfbfd;}
.eventzone:after{clear:both; display:block; content:""}
.eventzone .nav_event{display:block; position:absolute; top:25px; left:40px;}
.eventzone .nav_event a{display:block; float:left; width:14px; height:14px; padding-right:6px; background:url(../../../wcom/img/zeus2014/common/sp_main.png) no-repeat;}
.eventzone .nav_event .event_on{background-position:0px -200px;}
.eventzone .nav_event .event_off{background-position:-100px -200px;}


/* 무료장비  */
#container .share_equip h2{background-position:20px -287px; background-color:#fbfbfb;}
#container .share_equip .move_equip h3{margin-left:15px;}
#container .share_equip .move_equip.type1 h3{background-position:0px -338px;}
#container .share_equip .move_equip.type2 h3{background-position:0px -388px;}
#container .share_equip .move_equip.type3 h3{background-position:0px -438px;}
.share_equip{display:block; position:relative; float:left; width:778px; height:381px; margin:10px 10px 0px 0px; background:#fff; border:1px solid #d4d5d6;}
.share_equip:after{clear:both; display:block; content:""}
.share_equip .move_equip{display:block; position:relative; float:left; height:160px; margin-left:7px;}
.share_equip .move_equip.type1{width:750px; position:relative; overflow:hidden;}
.share_equip .move_equip.type2{width:375px;}
.share_equip .move_equip.type3{margin-left:0px; width:375px;}
.share_equip .move_equip .more_type1{top:10px; right:0px;}
.share_equip .move_equip ul{padding:0px; display:block; position:relative; height:120px; overflow:hidden;}
.share_equip .move_equip ul:after{clear:both; display:block; content:""}
.share_equip .move_equip ul li{float:left; margin-left:15px; width:110px;}
.share_equip .equip_con{position:relative; padding-top:80px;}
.share_equip .equip_con dt{display:block; padding-top:3px; height:20px; line-height:20px; text-align:center; font-size:12px;
overflow : hidden;
white-space: nowrap;
text-overflow:ellipsis;
-o-text-overflow:ellipsis;
-ms-text-overflow:ellipsis;
}
.share_equip .equip_con dt:hover, .share_equip .equip_con dt:focus, .share_equip .equip_con dt:active{text-decoration:underline;}
.share_equip .equip_con .thumbnail{position:absolute; top:0px; left:0px;}
.share_equip .equip_con .thumbnail img{width:110px; height:80px;}
.share_equip .equip_con .condition{height:14px; line-height:14px; text-align:center; font-size:11px; color:#888;}
.share_equip .equip_con .stardd{font-size:11px; color:#888;}
.share_equip .equip_con .remain{height:14px; line-height:14px; text-align:center; font-size:11px; color:#888; }
.share_equip .equip_con .remain .clock{display:inline-block; vertical-align:top; margin-right:3px; width:13px; height:13px; background:url(../../../wcom/img/zeus2014/common/sp_icon.png) 0px -850px no-repeat;}

/*대여장비*/
#container .rent_equip h2{background-position:20px -487px; background-color:#fbfbfb;}
.rent_equip{display:block; position:relative; float:left; margin-top:10px; width:383px; height:190px; background:#fff; border:1px solid #d4d5d6; zoom:1;}
.rent_equip:after{clear:both; display:block; content:""}
.rent_equip .rentlist{position:relative; margin:10px 0px 0px  20px; display:block; height:120px; overflow:hidden;}
.rent_equip .rentlist li{display:block; float:left; margin-right:10px; width:108px;}
.rent_equip .rentlist li dl{display:block; position:relative; padding-top:85px;}
.rent_equip .rentlist li dl dt{display:block; text-align:center; width:108px;
overflow : hidden;
white-space: nowrap;
text-overflow:ellipsis;
-o-text-overflow:ellipsis;
-ms-text-overflow:ellipsis;
}
.rent_equip .rentlist li dl a:hover dt, .rent_equip .rentlist li dl a:focus dt, .rent_equip .rentlist li dl a:active dt{text-decoration:underline;}
.rent_equip .rentlist li dl dd{width:108px; text-align:center;}
.rent_equip .rentlist li dl .thumbnail{position:absolute; top:0px; left:0px;}
.rent_equip .rentlist li dl .thumbnail img{width:100%; height:80px;}
.rent_equip .rentlist li dl .date{font-size:11px; color:#888;}

/* 장비 구합니다*/
#container .find_equip h2{background-position:20px -137px; background-color:#fbfbfb;}
.find_equip{display:block; position:absolute; bottom:0px; left:0px; width:383px; height:178px; background:#fff; border:1px solid #d4d5d6; zoom:1;}
.find_equip:after{clear:both; display:block; content:""}
.find_equip ul{padding:15px 15px 0px 20px;}
.find_equip ul li{display:block; position:relative; height:22px;}
.find_equip ul li dl dt{float:left; width:84%;
overflow : hidden;
white-space: nowrap;
text-overflow:ellipsis;
-o-text-overflow:ellipsis;
-ms-text-overflow:ellipsis;
}
.find_equip ul li dl dd{float:right; width:16%; font-size:11px; color:#888;}
.find_equip ul li dl dd span{display:block; float:left;}
.find_equip ul li dl dd .user{width:72px; text-align:right;
overflow : hidden;
white-space: nowrap;
text-overflow:ellipsis;
-o-text-overflow:ellipsis;
-ms-text-overflow:ellipsis;
}
.find_equip ul li dl dd .date{float:right; padding-left:10px; width:30px;}
.find_equip ul li dl a:hover dt, .find_equip ul li dl a:focus dt, .find_equip ul li dl a:active dt{text-decoration:underline;}


/*총 게시글*/
#container .notice h2{background-position:20px -187px; background-color:#fbfbfb;}
.notice{display:block; position:relative; float:left; margin:10px 0px 0px 10px; width:383px; height:379px; background:#fff; border:1px solid #d4d5d6; zoom:1;}
.notice:after{clear:both; display:block; content:""}
.notice .noticelist{padding:10px 20px;}
.notice .noticelist li{display:block; position:relative; padding:8px 0px; border-top:1px dashed #e4e4e4;}
.notice .noticelist li.first{border:none; padding-top:0px;}
.notice .noticelist li dl{margin:0px; padding:0px; font-size:0;}
.notice .noticelist li dl a{display:block; padding:0px; margin:0px;}
.notice .noticelist li dl dt{display:block;
}
.notice .noticelist li dl dt span{display:inline-block; vertical-align:middle; max-width:325px; height:21px;
overflow : hidden;
white-space: nowrap;
text-overflow:ellipsis;
-o-text-overflow:ellipsis;
-ms-text-overflow:ellipsis;
}
.notice .noticelist li dl dt img{padding:3px 0 0 3px; vertical-align:top;}
.notice .noticelist li dl dd{font-size:11px; color:#888;}
.notice .noticelist li dl dd span{display:inline-block;}
.notice .noticelist li dl dd.response{position:absolute; bottom:10px; right:0px;}
.notice .noticelist li dl dd.response span{padding:0px 5px 0px 20px; width:10px; background:url(../../../wcom/img/zeus2014/common/sp_icon2.png) no-repeat}
.notice .noticelist li dl dd.response .view{background-position:0px 2px;}
.notice .noticelist li dl dd.response .likeit{background-position:0px -48px;}
.notice .noticelist li dl dd.response .reply{background-position:0px -98px;}
.notice .noticelist li dl dd .date{padding-left:10px; background:url(../../../wcom/img/zeus2014/common/sp_bullet.png) 5px -97px no-repeat}


/* 매각공고 */
#container .noticeofsale h2{background-position:15px -537px; border:none;}
.noticeofsale{display:block; position:absolute; bottom:0px; right:0px; width:198px; height:287px; background:#e6e6e6 url(../../../wcom/img/zeus2014/main/bg_sale.png) 0px 48px no-repeat; border:1px solid #d4d5d6; zoom:1; overflow:hidden;}
.noticeofsale ul{position:relative; margin:130px 10px 0px 10px; width:158px; height:170px; overflow:hidden;}
.noticeofsale ul:after{clear:both; display:block; content:""}
.noticeofsale ul li{display:block; height:105px; width:178px; float:left; padding:0 10px 0 10px;}
.noticeofsale ul li.first{padding:0 10px 0 0;}
.noticeofsale .sale_con{position:relative;}
.noticeofsale .sale_con dt{padding:10px 0px 5px 0px; line-height:18px; text-align:center;}
.noticeofsale .sale_con .period{height:32px; line-height:32px; text-align:center; border-top:1px solid #000; border-bottom:1px solid #000;}
.noticeofsale .sale_con .location{font-size:11px; color:#0cbcc8; text-align:center;}


/* 배너모음 */
.bnrbox{display:block; position:absolute; top:148px; right:0px; width:200px;}
.bnrbox a{display:block; margin-top:10px;}






.bx-default-pager {position:absolute; left:40px; top:22px;  list-style: none; z-index:10}
.bx-default-pager .bx-pager-item { float: left;margin: 0 1px;}
.bx-default-pager .bx-pager-item a {display:block; float:left; margin:1px; width:15px; height:14px; background:url(../../../wcom/img/zeus2014/common/sp_main.png) no-repeat -100px -200px; text-indent:-9999em; overflow: hidden;}
.bx-default-pager .bx-pager-item a.active,
.bx-default-pager .bx-pager-item a:hover.active {background-position: 0px -200px;}

/* 지식공유 롤링 */
.knowlist{display:block; position:absolute; top:166px; right:209px; width:390px; height:28px; z-index:100; overflow:hidden; }
.knowlist:after{clear:both; display:block; content:""}
.knowlist strong{display:block; float:left; width:60px; line-height:28px; text-align:center; margin-top:3px;}
.knowlist ul{position:relative; display:block; float:left; padding-left:9px; width:285px; height:20px;}
.knowlist ul li{position:relative; display:block; position:relative; width:100%; height:20px;}
.knowlist ul li a{display:block; line-height:28px; font-size:11px;
overflow : hidden;
white-space: nowrap;
text-overflow:ellipsis;
-o-text-overflow:ellipsis;
-ms-text-overflow:ellipsis;
}
.knowlist ul li a span{padding-right:3px; color:#888;}
.knowlist .btn_stop{display:block; position:absolute; top:10px; right:23px; width:6px; height:7px;}
.knowlist .btn_play{display:block; position:absolute; top:10px; right:23px; width:6px; height:7px;}





