<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
 설문_공통문항 응답 Mapper
 -->
<mapper namespace="kr.ac.jj.survey.domain.main.mapper.survey.cmmnrspns.TbSurveyCmmnRspnsMapper">

    <!-- 조회 - 설문 응답 ID(SURVEY_ID)로 -->
    <select id="selectBySurveyId" resultType="kr.ac.jj.survey.domain.main.model.survey.cmmnrspns.TbSurveyCmmnRspns">
        <include refid="kr.ac.jj.survey.domain.main.mapper.survey.cmmnrspns.TbSurveyCmmnRspnsEntityMapper.baseSelectSql"></include>
        <![CDATA[
            WHERE  TSCR.SURVEY_ID = #{surveyId}
        ]]>
    </select>

    <!-- 공통 응답 ID 조회 - 설문 응답 ID(SURVEY_ID)로 -->
    <select id="selectCmmnRspnsIdBySurveyId" resultType="java.lang.String">
        <![CDATA[
            SELECT TSCR.CMMN_RSPNS_ID
            FROM   TB_SURVEY_CMMN_RSPNS TSCR
            WHERE  TSCR.SURVEY_ID = #{surveyId}
        ]]>
    </select>

    <!-- 공통 응답 최종값 조회 -->
    <select id="selectCmmnRspnsByMaxRspnsOdr" resultType="kr.ac.jj.survey.domain.main.model.survey.cmmnrspns.TbSurveyCmmnRspns">
        <![CDATA[
            SELECT (SELECT TSCR.SEXDSTN
                    FROM   TB_SURVEY_CMMN_RSPNS TSCR
                    WHERE  TSCR.PERSON_ID = #{$var.loginUser.personId}
                    AND    TSCR.RSPNS_ODR = (
                                SELECT MAX(TSCR2.RSPNS_ODR)
                                FROM   TB_SURVEY_CMMN_RSPNS TSCR2
                                WHERE  TSCR2.PERSON_ID = TSCR.PERSON_ID
                                AND    TSCR2.SEXDSTN IS NOT NULL
                           )
                   ) AS SEXDSTN
                 , (SELECT TSCR.AREA
                    FROM   TB_SURVEY_CMMN_RSPNS TSCR
                    WHERE  TSCR.PERSON_ID = #{$var.loginUser.personId}
                    AND    TSCR.RSPNS_ODR = (
                                SELECT MAX(TSCR2.RSPNS_ODR)
                                FROM   TB_SURVEY_CMMN_RSPNS TSCR2
                                WHERE  TSCR2.PERSON_ID = TSCR.PERSON_ID
                                AND    TSCR2.AREA IS NOT NULL
                           )
                   ) AS AREA
                 , (SELECT TSCR.GRADE
                    FROM   TB_SURVEY_CMMN_RSPNS TSCR
                    WHERE  TSCR.PERSON_ID = #{$var.loginUser.personId}
                    AND    TSCR.RSPNS_ODR = (
                                SELECT MAX(TSCR2.RSPNS_ODR)
                                FROM   TB_SURVEY_CMMN_RSPNS TSCR2
                                WHERE  TSCR2.PERSON_ID = TSCR.PERSON_ID
                                AND    TSCR2.GRADE IS NOT NULL
                           )
                   ) AS GRADE
                 , (SELECT TSCR.CGHMY
                    FROM   TB_SURVEY_CMMN_RSPNS TSCR
                    WHERE  TSCR.PERSON_ID = #{$var.loginUser.personId}
                    AND    TSCR.RSPNS_ODR = (
                                SELECT MAX(TSCR2.RSPNS_ODR)
                                FROM   TB_SURVEY_CMMN_RSPNS TSCR2
                                WHERE  TSCR2.PERSON_ID = TSCR.PERSON_ID
                                AND    TSCR2.CGHMY IS NOT NULL
                           )
                   ) AS CGHMY
                 , (SELECT TSCR.SUBJCT
                    FROM   TB_SURVEY_CMMN_RSPNS TSCR
                    WHERE  TSCR.PERSON_ID = #{$var.loginUser.personId}
                    AND    TSCR.RSPNS_ODR = (
                                SELECT MAX(TSCR2.RSPNS_ODR)
                                FROM   TB_SURVEY_CMMN_RSPNS TSCR2
                                WHERE  TSCR2.PERSON_ID = TSCR.PERSON_ID
                                AND    TSCR2.SUBJCT IS NOT NULL
                           )
                   ) AS SUBJCT
                 , (SELECT TSCR.STSFDG_01
                    FROM   TB_SURVEY_CMMN_RSPNS TSCR
                    WHERE  TSCR.PERSON_ID = #{$var.loginUser.personId}
                    AND    TSCR.RSPNS_ODR = (
                                SELECT MAX(TSCR2.RSPNS_ODR)
                                FROM   TB_SURVEY_CMMN_RSPNS TSCR2
                                WHERE  TSCR2.PERSON_ID = TSCR.PERSON_ID
                                AND    TSCR2.STSFDG_01 IS NOT NULL
                           )
                   ) AS STSFDG_01
                 , (SELECT TSCR.STSFDG_02
                    FROM   TB_SURVEY_CMMN_RSPNS TSCR
                    WHERE  TSCR.PERSON_ID = #{$var.loginUser.personId}
                    AND    TSCR.RSPNS_ODR = (
                                SELECT MAX(TSCR2.RSPNS_ODR)
                                FROM   TB_SURVEY_CMMN_RSPNS TSCR2
                                WHERE  TSCR2.PERSON_ID = TSCR.PERSON_ID
                                AND    TSCR2.STSFDG_02 IS NOT NULL
                           )
                   ) AS STSFDG_02
                 , (SELECT TSCR.STSFDG_03
                    FROM   TB_SURVEY_CMMN_RSPNS TSCR
                    WHERE  TSCR.PERSON_ID = #{$var.loginUser.personId}
                    AND    TSCR.RSPNS_ODR = (
                                SELECT MAX(TSCR2.RSPNS_ODR)
                                FROM   TB_SURVEY_CMMN_RSPNS TSCR2
                                WHERE  TSCR2.PERSON_ID = TSCR.PERSON_ID
                                AND    TSCR2.STSFDG_03 IS NOT NULL
                           )
                   ) AS STSFDG_03
            FROM   DUAL
        ]]>
    </select>

    <!-- 목록 삭제 - SURVEY_DEFINITION_ID(으)로 -->
    <delete id="deleteListBySurveyDefinitionId">
        <![CDATA[
            DELETE
            FROM   TB_SURVEY_CMMN_RSPNS
            WHERE  SURVEY_ID IN (
                        SELECT S.ID
                        FROM   SURVEY S
                        WHERE  S.SURVEY_DEFINITION_ID = #{surveyDefinitionId}
                   )
        ]]>
    </delete>

</mapper>
