<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
 게시판 - FAQ Entity Mapper
 -->
<mapper namespace="kr.ac.jj.shared.domain.main.mapper.bbs.faq.TbBbsFaqEntityMapper">

    <!-- 조회 -->
    <select id="select" resultType="kr.ac.jj.shared.domain.main.model.bbs.faq.TbBbsFaq">
        <![CDATA[
            SELECT TBF.BBSCTT_ID
                 , TBF.BBSCTT_NO
                 , TBF.BBSCTT_SJ
                 , TBF.QESTN_CN
                 , TBF.ANSWER_CN
                 , TBF.ATCH_FILE_ID
                 , TBF.RDCNT
                 , TBF.DELETE_YN
                 , TBF.WRITNG_PSN_ID
                 , FN_PERSON_NAME(TBF.WRITNG_PSN_ID, #{$var.userLocale}) AS WRITNG_PSN_NM
                 , TBF.WRITNG_DT
                 , TBF.CHANGE_PSN_ID
                 , FN_PERSON_NAME(TBF.CHANGE_PSN_ID, #{$var.userLocale}) AS CHANGE_PSN_NM
                 , TBF.CHANGE_DT
            FROM   TB_BBS_FAQ TBF
            WHERE  TBF.BBSCTT_ID = #{bbscttId}
        ]]>
    </select>

    <!-- 생성 -->
    <insert id="insert">
        <![CDATA[
            INSERT INTO TB_BBS_FAQ (
                   BBSCTT_ID
                 , CREAT_USER_ID
                 , CREAT_DT
                 , BBSCTT_NO
                 , BBSCTT_SJ
                 , QESTN_CN
                 , ANSWER_CN
                 , ATCH_FILE_ID
                 , RDCNT
                 , DELETE_YN
                 , WRITNG_PSN_ID
                 , WRITNG_DT
            ) VALUES (
                   #{tbBbsFaq.bbscttId}
                 , #{$var.loginUser.userId}
                 , #{$var.systemDate}
        ]]>

        <choose>
        <when test='tbBbsFaq.bbscttNo == null'>
            <![CDATA[
                 , (SELECT IFNULL(MAX(A.BBSCTT_NO), 0) + 1 FROM TB_BBS_FAQ A)
            ]]>
        </when>
        <otherwise>
            <![CDATA[
                 , #{tbBbsFaq.bbscttNo}
            ]]>
        </otherwise>
        </choose>

        <![CDATA[
                 , #{tbBbsFaq.bbscttSj}
                 , #{tbBbsFaq.qestnCn}
                 , #{tbBbsFaq.answerCn}
                 , #{tbBbsFaq.atchFileId}
                 , #{tbBbsFaq.rdcnt}
                 , #{tbBbsFaq.deleteYn}
                 , #{$var.loginUser.personId}
                 , #{$var.systemDate}
            )
        ]]>
    </insert>

    <!-- 수정 -->
    <update id="update">
        <![CDATA[
            UPDATE TB_BBS_FAQ SET
                   UPDT_USER_ID                     = #{$var.loginUser.userId}
                 , UPDT_DT                          = #{$var.systemDate}
        ]]>

        <choose>
        <when test='tbBbsFaq.bbscttNo == null'>
            <![CDATA[
                 , BBSCTT_NO                        = (SELECT IFNULL(MAX(A.BBSCTT_NO), 0) + 1 FROM TB_BBS_FAQ A)
            ]]>
        </when>
        <otherwise>
            <![CDATA[
                 , BBSCTT_NO                        = #{tbBbsFaq.bbscttNo}
            ]]>
        </otherwise>
        </choose>

        <![CDATA[
                 , BBSCTT_SJ                        = #{tbBbsFaq.bbscttSj}
                 , QESTN_CN                         = #{tbBbsFaq.qestnCn}
                 , ANSWER_CN                        = #{tbBbsFaq.answerCn}
                 , ATCH_FILE_ID                     = #{tbBbsFaq.atchFileId}
                 , RDCNT                            = #{tbBbsFaq.rdcnt}
                 , DELETE_YN                        = #{tbBbsFaq.deleteYn}
                 , CHANGE_PSN_ID                    = #{$var.loginUser.personId}
                 , CHANGE_DT                        = #{$var.systemDate}
            WHERE  BBSCTT_ID = #{tbBbsFaq.bbscttId}
        ]]>
    </update>

    <!-- 삭제 -->
    <delete id="delete">
        <![CDATA[
            DELETE
            FROM   TB_BBS_FAQ
            WHERE  BBSCTT_ID = #{bbscttId}
        ]]>
    </delete>

</mapper>
