<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
 접속 로그 관리 Mapper
 -->
<mapper namespace="kr.ac.jj.shared.application.admin.logmanage.loginlog.mapper.LoginLogManageMapper">

    <!-- 목록 조회 -->
    <select id="selectList" resultType="kr.ac.jj.shared.infrastructure.framework.core.support.collection.CamelKeyMap">
        <![CDATA[
            SELECT TSLL.LOGIN_LOG_ID
                 , TSLL.LOG_ID
                 , TSLL.LOGIN_NM
                 , TSLL.LOGIN_TY
                 , TSLL.SUCCES_YN
                 , TSL.LOG_DT
            FROM   TB_SYS_LOG_LOGIN TSLL
                   INNER JOIN TB_SYS_LOG TSL ON TSL.LOG_ID = TSLL.LOG_ID
            WHERE  TSLL.LOGIN_TY != 'ADMIN'
        ]]>

        <!-- 로그인 ID -->
        <if test='search != null and search.loginNm != null and search.loginNm != ""'>
            <![CDATA[
            AND    UPPER(TSLL.LOGIN_NM) LIKE CONCAT_WS('', '%', UPPER(#{search.loginNm}), '%')
            ]]>
        </if>

        <!-- 접속 일자 -->
        <if test='search != null and search.logDtStart != null'>
            <![CDATA[
            AND    TSL.LOG_DT >= #{search.logDtStart, jdbcType=DATE}
            ]]>
        </if>
        <if test='search != null and search.logDtEnd != null'>
            <![CDATA[
            AND    TSL.LOG_DT < #{search.logDtEnd, typeHandler=LongDateAddTypeHandler}
            ]]>
        </if>
    </select>

</mapper>
