<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
 코드 관리 Mapper
 -->
<mapper namespace="kr.ac.jj.survey.application.admin.sysmanage.codemanage.mapper.CodeManageMapper">

    <!-- 목록 조회 -->
    <select id="selectList" resultType="kr.ac.jj.survey.infrastructure.framework.core.support.collection.CamelKeyMap">
        <![CDATA[
            SELECT TSCG.CODE_GROUP_ID
                 , TSCG.CODE_GROUP
                 , FN_TITLE(TSCG.CODE_GROUP_NM_TITLE, #{$var.userLocale}, #{$var.defaultLocale}, NULL) AS CODE_GROUP_NM
                 , CONCAT_WS('',
                    (SELECT COUNT(1) FROM TB_SYS_CODE_VALUE T WHERE T.CODE_GROUP_ID = TSCG.CODE_GROUP_ID AND T.USE_YN = '1') + '/' +
                    (SELECT COUNT(1) FROM TB_SYS_CODE_VALUE T WHERE T.CODE_GROUP_ID = TSCG.CODE_GROUP_ID)
                   ) AS CODE_VALUE_CO
                 , TSCG.CODE_GROUP_DC
                 , TSCG.USE_YN
            FROM   TB_SYS_CODE_GROUP TSCG
            WHERE  1 = 1
        ]]>

        <!-- 검색어 -->
        <if test='search != null and search.searchText != null and search.searchText != ""'>
            <![CDATA[
            AND    (UPPER(TSCG.CODE_GROUP) LIKE '%' + UPPER(#{search.searchText}) + '%' OR
                    UPPER(TSCG.CODE_GROUP_DC) LIKE '%' + UPPER(#{search.searchText}) + '%' OR
                    EXISTS (SELECT 1
                            FROM   TB_SYS_TITLE TST
                            WHERE  TST.TITLE_CODE = TSCG.CODE_GROUP_NM_TITLE
                            AND    UPPER(TST.TITLE_CN) LIKE '%' + UPPER(#{search.searchText}) + '%'
                           ) OR
                    EXISTS (SELECT 1
                            FROM   TB_SYS_CODE_VALUE T1
                                   LEFT JOIN TB_SYS_TITLE TST ON TST.TITLE_CODE = T1.CODE_VALUE_NM_TITLE
                            WHERE  T1.CODE_GROUP_ID = TSCG.CODE_GROUP_ID
                            AND    (UPPER(T1.CODE_VALUE) LIKE '%' + UPPER(#{search.searchText}) + '%' OR
                                    UPPER(T1.CODE_VALUE_DC) LIKE '%' + UPPER(#{search.searchText}) + '%' OR
                                    UPPER(TST.TITLE_CN) LIKE '%' + UPPER(#{search.searchText}) + '%'
                                   )
                           )
                   )
            ]]>
        </if>

        <!-- 사용여부 -->
        <if test='search != null and search.useYn != null and search.useYn != ""'>
            <![CDATA[
            AND    TSCG.USE_YN = #{search.useYn}
            ]]>
        </if>
    </select>

    <!-- 코드그룹 중복 여부 조회 -->
    <select id="selectCodeGroup" resultType="java.lang.Integer">
        <![CDATA[
            SELECT COUNT(1)
            FROM   TB_SYS_CODE_GROUP
            WHERE  CODE_GROUP = #{tbSysCodeGroup.codeGroup}
        ]]>
    </select>

</mapper>
