<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
 시스템 - 메뉴 Mapper
 -->
<mapper namespace="kr.ac.jj.shared.domain.main.mapper.sys.menu.TbSysMenuMapper">

    <!-- 삭제 - 하위메뉴가 존재하지 않는 건 -->
    <delete id="deleteNotExistsChildMenu">
        <![CDATA[
            DELETE
            FROM   TB_SYS_MENU
            WHERE  MENU_ID = #{menuId}
            AND    NOT EXISTS (
                        SELECT 1
                        FROM   TB_SYS_MENU
                        WHERE  UPPER_MENU_ID = #{menuId}
                   )
        ]]>
    </delete>

</mapper>
