<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
 ID 생성 Mapper
 -->
<mapper namespace="kr.ac.jj.survey.infrastructure.idgen.mapper.IdGenerationMapper">

    <!-- UID 조회 -->
    <select id="selectUid" resultType="java.lang.String" flushCache="true">
        <![CDATA[
            SELECT FN_UID(#{type}) AS UNIQUE_ID
        ]]>
    </select>

</mapper>
