<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
설문 분야 관리 Mapper
 -->
<mapper namespace="kr.ac.jj.survey.application.realmmanage.mapper.RealmManageMapper">

    <!-- 목록 조회 -->
    <select id="selectList" resultType="kr.ac.jj.shared.infrastructure.framework.core.support.collection.CamelKeyMap">
        <![CDATA[
            SELECT TSR.SURVEY_REALM_ID
                 , CREAT_USER_ID
                 , CREAT_DT
                 , TSR.SURVEY_REALM_NM
                 , TSR.SURVEY_REALM_DC
            FROM   TB_SURVEY_REALM TSR
            WHERE  1 = 1
        ]]>

        <!-- 설문 분야 -->
        <if test='search != null and search.surveyRealmNm != null and search.surveyRealmNm != ""'>
            <![CDATA[
                AND TSR.SURVEY_REALM_NM LIKE CONCAT_WS('', '%', UPPER(#{search.surveyRealmNm}), '%')
            ]]>
        </if>

        <!-- 설명 -->
        <if test='search != null and search.surveyRealmDc != null and search.surveyRealmDc != ""'>
            <![CDATA[
                AND TSR.SURVEY_REALM_DC LIKE CONCAT_WS('', '%', UPPER(#{search.surveyRealmDc}), '%')
            ]]>
        </if>

    </select>

</mapper>
