<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
 설문_템플릿 Entity Mapper
 -->
<mapper namespace="kr.ac.jj.survey.domain.main.mapper.survey.tmplat.TbSurveyTmplatEntityMapper">

    <!-- 조회 -->
    <select id="select" resultType="kr.ac.jj.survey.domain.main.model.survey.tmplat.TbSurveyTmplat">
        <![CDATA[
            SELECT TST.SURVEY_TMPLAT_ID
                 , TST.SURVEY_DEFINITION_ID
                 , TST.SURVEY_REALM_ID
                 , TSR.SURVEY_REALM_NM
                 , TST.TMPLAT_STTUS
                 , TST.QESTNR_GDCC
                 , TST.QESTNR_ENDC
                 , TST.QESTNR_BCRN_COLOR
                 , TST.REGIST_PSN_ID
                 , TST.REGIST_DT
            FROM   TB_SURVEY_TMPLAT TST
                   INNER JOIN TB_SURVEY_REALM TSR ON TST.SURVEY_REALM_ID = TSR.SURVEY_REALM_ID
            WHERE  TST.SURVEY_TMPLAT_ID = #{surveyTmplatId}
        ]]>
    </select>

    <!-- 생성 -->
    <insert id="insert">
        <![CDATA[
            INSERT INTO TB_SURVEY_TMPLAT (
                   SURVEY_TMPLAT_ID
                 , CREAT_USER_ID
                 , CREAT_DT
                 , SURVEY_DEFINITION_ID
                 , SURVEY_REALM_ID
                 , TMPLAT_STTUS
                 , QESTNR_GDCC
                 , QESTNR_ENDC
                 , QESTNR_BCRN_COLOR
                 , REGIST_PSN_ID
                 , REGIST_DT
            ) VALUES (
                   #{tbSurveyTmplat.surveyTmplatId}
                 , #{$var.loginUser.userId}
                 , #{$var.systemDate}
                 , #{tbSurveyTmplat.surveyDefinitionId}
                 , #{tbSurveyTmplat.surveyRealmId}
                 , #{tbSurveyTmplat.tmplatSttus}
                 , #{tbSurveyTmplat.qestnrGdcc}
                 , #{tbSurveyTmplat.qestnrEndc}
                 , #{tbSurveyTmplat.qestnrBcrnColor}
                 , #{tbSurveyTmplat.registPsnId}
                 , #{tbSurveyTmplat.registDt}
            )
        ]]>
    </insert>

    <!-- 수정 -->
    <update id="update">
        <![CDATA[
            UPDATE TB_SURVEY_TMPLAT SET
                   UPDT_USER_ID                     = #{$var.loginUser.userId}
                 , UPDT_DT                          = #{$var.systemDate}
                 , SURVEY_DEFINITION_ID             = #{tbSurveyTmplat.surveyDefinitionId}
                 , SURVEY_REALM_ID                  = #{tbSurveyTmplat.surveyRealmId}
                 , TMPLAT_STTUS                     = #{tbSurveyTmplat.tmplatSttus}
                 , QESTNR_GDCC                      = #{tbSurveyTmplat.qestnrGdcc}
                 , QESTNR_ENDC                      = #{tbSurveyTmplat.qestnrEndc}
                 , QESTNR_BCRN_COLOR                = #{tbSurveyTmplat.qestnrBcrnColor}
                 , REGIST_PSN_ID                    = #{tbSurveyTmplat.registPsnId}
                 , REGIST_DT                        = #{tbSurveyTmplat.registDt}
            WHERE  SURVEY_TMPLAT_ID = #{tbSurveyTmplat.surveyTmplatId}
        ]]>
    </update>

    <!-- 삭제 -->
    <delete id="delete">
        <![CDATA[
            DELETE
            FROM   TB_SURVEY_TMPLAT
            WHERE  SURVEY_TMPLAT_ID = #{surveyTmplatId}
        ]]>
    </delete>

</mapper>
