<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
 오픈API_서비스_키 Entity Mapper
 -->
<mapper namespace="kr.ac.jj.openapi.domain.main.mapper.api.svc.key.TbApiSvcKeyEntityMapper">

    <!-- 목록 조회 - SVC_ID(으)로 -->
    <select id="selectListBySvcId" resultType="kr.ac.jj.openapi.domain.main.model.api.svc.key.TbApiSvcKey">
        <![CDATA[
            SELECT TASK.SVC_KEY_ID
                 , TASK.SVC_ID
                 , TASK.API_KEY
                 , TASK.APPLCNT_ID
                 , TASK.RQSTDT
                 , TASK.CALL_CO_PDAY
                 , TASK.KEY_USE_PD_BEGIN
                 , TASK.KEY_USE_PD_END
                 , TASK.STTUS
                 , TASK.REQUST_MATTER
                 , TASK.EXMNT_PSN_ID
                 , TASK.EXMNT_DT
                 , TASK.EXMNT_RESULT
            FROM   TB_API_SVC_KEY TASK
            WHERE  TASK.SVC_ID = #{svcId}
        ]]>
    </select>

    <!-- 조회 -->
    <select id="select" resultType="kr.ac.jj.openapi.domain.main.model.api.svc.key.TbApiSvcKey">
        <![CDATA[
            SELECT TASK.SVC_KEY_ID
                 , TASK.SVC_ID
                 , TASK.API_KEY
                 , TASK.APPLCNT_ID
                 , TASK.RQSTDT
                 , TASK.CALL_CO_PDAY
                 , TASK.KEY_USE_PD_BEGIN
                 , TASK.KEY_USE_PD_END
                 , TASK.STTUS
                 , TASK.REQUST_MATTER
                 , TASK.EXMNT_PSN_ID
                 , TASK.EXMNT_DT
                 , TASK.EXMNT_RESULT
            FROM   TB_API_SVC_KEY TASK
            WHERE  TASK.SVC_KEY_ID = #{svcKeyId}
        ]]>
    </select>

    <!-- 생성 -->
    <insert id="insert">
        <![CDATA[
            INSERT INTO TB_API_SVC_KEY (
                   SVC_KEY_ID
                 , CREAT_USER_ID
                 , CREAT_DT
                 , SVC_ID
                 , API_KEY
                 , APPLCNT_ID
                 , RQSTDT
                 , CALL_CO_PDAY
                 , KEY_USE_PD_BEGIN
                 , KEY_USE_PD_END
                 , STTUS
                 , REQUST_MATTER
                 , EXMNT_PSN_ID
                 , EXMNT_DT
                 , EXMNT_RESULT
            ) VALUES (
                   #{tbApiSvcKey.svcKeyId}
                 , #{$var.loginUser.userId}
                 , #{$var.systemDate}
                 , #{tbApiSvcKey.svcId}
                 , #{tbApiSvcKey.apiKey}
                 , #{tbApiSvcKey.applcntId}
                 , #{tbApiSvcKey.rqstdt}
                 , #{tbApiSvcKey.callCoPday}
                 , #{tbApiSvcKey.keyUsePdBegin}
                 , #{tbApiSvcKey.keyUsePdEnd}
                 , #{tbApiSvcKey.sttus}
                 , #{tbApiSvcKey.requstMatter}
                 , #{tbApiSvcKey.exmntPsnId}
                 , #{tbApiSvcKey.exmntDt}
                 , #{tbApiSvcKey.exmntResult}
            )
        ]]>
    </insert>

    <!-- 수정 -->
    <update id="update">
        <![CDATA[
            UPDATE TB_API_SVC_KEY SET
                   UPDT_USER_ID                     = #{$var.loginUser.userId}
                 , UPDT_DT                          = #{$var.systemDate}
                 , SVC_ID                           = #{tbApiSvcKey.svcId}
                 , API_KEY                          = #{tbApiSvcKey.apiKey}
                 , APPLCNT_ID                       = #{tbApiSvcKey.applcntId}
                 , RQSTDT                           = #{tbApiSvcKey.rqstdt}
                 , CALL_CO_PDAY                     = #{tbApiSvcKey.callCoPday}
                 , KEY_USE_PD_BEGIN                 = #{tbApiSvcKey.keyUsePdBegin}
                 , KEY_USE_PD_END                   = #{tbApiSvcKey.keyUsePdEnd}
                 , STTUS                            = #{tbApiSvcKey.sttus}
                 , REQUST_MATTER                    = #{tbApiSvcKey.requstMatter}
                 , EXMNT_PSN_ID                     = #{tbApiSvcKey.exmntPsnId}
                 , EXMNT_DT                         = #{tbApiSvcKey.exmntDt}
                 , EXMNT_RESULT                     = #{tbApiSvcKey.exmntResult}
            WHERE  SVC_KEY_ID = #{tbApiSvcKey.svcKeyId}
        ]]>
    </update>

    <!-- 삭제 -->
    <delete id="delete">
        <![CDATA[
            DELETE
            FROM   TB_API_SVC_KEY
            WHERE  SVC_KEY_ID = #{svcKeyId}
        ]]>
    </delete>

    <!-- 목록 삭제 - SVC_ID(으)로 -->
    <delete id="deleteListBySvcId">
        <![CDATA[
            DELETE
            FROM   TB_API_SVC_KEY
            WHERE  SVC_ID = #{svcId}
        ]]>
    </delete>

</mapper>
