<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jd.survey.pub.mapper.SurveySecUserDefinitionMapper">

 	<select id="getUserSurveyDefinitionCount" parameterType="com.jd.survey.pub.domain.SurveySecUserDefinition" resultType="int">
 		/*사용자설문조사 건수 조회*/
 		select count(*)
 		from survey_sec_user_definition where survey_definition_id = #{surveyDefinitionId} and user_id = #{userId}
 	</select>

	<select id="getUserSurveyDefinitionsBySurveyDefinitionId" resultType="com.jd.survey.pub.domain.SurveySecUserDefinition">
		/* 사용자설문조사 목록 조회 */
		SELECT A.survey_definition_id, A.user_id, B.login
		FROM survey_sec_user_definition A, survey_sec_user B 
		WHERE A.user_id = B.id 
		AND A.survey_definition_id = #{surveyDefinitionId}
	</select>
	
	<insert id="addUserSurveyDefinition" parameterType="com.jd.survey.pub.domain.SurveySecUserDefinition">
		/*사용자설문조사 등록*/
		INSERT INTO survey_sec_user_definition (survey_definition_id, user_id) 
		VALUES (#{surveyDefinitionId}, #{userId})
	</insert>
	
	<delete id="delUserSurveyDefinitionsBySurveyDefinitionId">
		/* 사용자설문조사 전체삭제 */
		DELETE FROM survey_sec_user_definition WHERE survey_definition_id = #{surveyDefinitionId}
	</delete>
	
	<delete id="delUserSurveyDefinitionBySurveyDefinitionIdAndUserId" parameterType="com.jd.survey.pub.domain.SurveySecUserDefinition">
		/* 사용자설문조사 개별삭제 */
		DELETE FROM survey_sec_user_definition WHERE survey_definition_id = #{surveyDefinitionId} AND user_id = #{userId} 
	</delete>
	
	<sql id="baseTargetList">
		SELECT A.survey_definition_id, B.id surveyId, A.login, C.kor_nm name, D.kor_nm organNm, COALESCE(B.status, 'I') status, B.submission_date, A.creation_date  creationDate
		FROM	(
					SELECT A.login,  B.survey_definition_id,	A.creation_date 
					FROM survey_sec_user A, survey_sec_user_definition B 
					WHERE A.id = B.user_id 
					AND b.survey_definition_id  = #{surveyDefinitionId}
				) A LEFT JOIN
		(
			SELECT id,	login,	status, SUBMISSION_DATE 
			FROM survey 
			WHERE survey_definition_id = #{surveyDefinitionId}
		) B ON A.login = B.login,
		tb_user C,
		tb_mem_organ D
		WHERE A.login = C.user_id
		AND C.organ_cd = D.organ_cd
		<if test="status != null">
			<choose>
				<when test="status == 'S'.toString()">
					AND status = 'S'
				</when>
				<when test="status == 'I'.toString()">
					AND (status = 'I' OR status IS NULL)
				</when>
			</choose>
		</if>
		<if test="keywords != null">
			AND (
				UPPER(C.kor_nm) LIKE UPPER('%' || #{keywords} || '%')
				OR UPPER(D.kor_nm) LIKE UPPER('%' || #{keywords} || '%')
			)
		</if>
	</sql>
	
	<select id="targetsCountBySurveyDefinitionId" parameterType="com.jd.survey.pub.web.cmd.SurveySecUserDefinitionCmd" resultType="int">
		/* 조사설정별 대상자 건수 */
		SELECT COUNT(*)  
		FROM	(<include refid="baseTargetList"/>)
	</select>
	
	<select id="targetListBySurveyDefinitionId" parameterType="com.jd.survey.pub.web.cmd.SurveySecUserDefinitionCmd" resultType="com.jd.survey.pub.domain.SurveySecUserDefinition">
		/* 조사설정별 대상자 목록 */
		<include refid="baseMapper.pagingPrefix"/>
		<include refid="baseTargetList"/>
		<include refid="baseMapper.sort"/>
		<include refid="baseMapper.pagingSurfix"/> 
	</select>
	
</mapper>