<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
  Entity Mapper
 -->
<mapper namespace="kr.ac.jj.survey.domain.main.mapper.jd.survey.definition.page.JdSurveyDefinitionPageEntityMapper">

    <!-- 목록 조회 - SURVEY_DEFINITION_ID(으)로 -->
    <select id="selectListBySurveyDefinitionId" resultType="kr.ac.jj.survey.domain.main.model.jd.survey.definition.page.JdSurveyDefinitionPage">
        <![CDATA[
            SELECT SDP.ID
                 , SDP.TITLE
                 , SDP.INSTRUCTIONS
                 , SDP.PAGE_ORDER
                 , SDP.PAGE_LOGICJSON
                 , SDP.RANDOMIZE_QUESTIONS
                 , SDP.SURVEY_DEFINITION_ID
                 , SDP.VERSION
            FROM   SURVEY_DEFINITION_PAGE SDP
            WHERE  SDP.SURVEY_DEFINITION_ID = #{surveyDefinitionId}
        ]]>
    </select>

    <!-- 조회 -->
    <select id="select" resultType="kr.ac.jj.survey.domain.main.model.jd.survey.definition.page.JdSurveyDefinitionPage">
        <![CDATA[
            SELECT SDP.ID
                 , SDP.TITLE
                 , SDP.INSTRUCTIONS
                 , SDP.PAGE_ORDER
                 , SDP.PAGE_LOGICJSON
                 , SDP.RANDOMIZE_QUESTIONS
                 , SDP.SURVEY_DEFINITION_ID
                 , SDP.VERSION
            FROM   SURVEY_DEFINITION_PAGE SDP
            WHERE  SDP.ID = #{id}
        ]]>
    </select>

    <!-- 생성 -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="jdSurveyDefinitionPage.id">
        <![CDATA[
            INSERT INTO SURVEY_DEFINITION_PAGE (
                   ID
                 , TITLE
                 , INSTRUCTIONS
                 , PAGE_ORDER
                 , PAGE_LOGICJSON
                 , RANDOMIZE_QUESTIONS
                 , SURVEY_DEFINITION_ID
                 , VERSION
            ) VALUES (
                   #{jdSurveyDefinitionPage.id}
                 , #{jdSurveyDefinitionPage.title}
                 , #{jdSurveyDefinitionPage.instructions}
                 , #{jdSurveyDefinitionPage.pageOrder}
                 , #{jdSurveyDefinitionPage.pageLogicjson}
                 , #{jdSurveyDefinitionPage.randomizeQuestions}
                 , #{jdSurveyDefinitionPage.surveyDefinitionId}
                 , #{jdSurveyDefinitionPage.version}
            )
        ]]>
    </insert>

    <!-- 수정 -->
    <update id="update">
        <![CDATA[
            UPDATE SURVEY_DEFINITION_PAGE SET
                   TITLE                            = #{jdSurveyDefinitionPage.title}
                 , INSTRUCTIONS                     = #{jdSurveyDefinitionPage.instructions}
                 , PAGE_ORDER                       = #{jdSurveyDefinitionPage.pageOrder}
                 , PAGE_LOGICJSON                   = #{jdSurveyDefinitionPage.pageLogicjson}
                 , RANDOMIZE_QUESTIONS              = #{jdSurveyDefinitionPage.randomizeQuestions}
                 , SURVEY_DEFINITION_ID             = #{jdSurveyDefinitionPage.surveyDefinitionId}
                 , VERSION                          = #{jdSurveyDefinitionPage.version}
            WHERE  ID = #{jdSurveyDefinitionPage.id}
        ]]>
    </update>

    <!-- 삭제 -->
    <delete id="delete">
        <![CDATA[
            DELETE
            FROM   SURVEY_DEFINITION_PAGE
            WHERE  ID = #{id}
        ]]>
    </delete>

    <!-- 목록 삭제 - SURVEY_DEFINITION_ID(으)로 -->
    <delete id="deleteListBySurveyDefinitionId">
        <![CDATA[
            DELETE
            FROM   SURVEY_DEFINITION_PAGE
            WHERE  SURVEY_DEFINITION_ID = #{surveyDefinitionId}
        ]]>
    </delete>

</mapper>
